<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Add in Stock Bill</h1>
{% if errors %}
<ul>
    {% for error in errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
<form action="/AddInStockBill/" method="post">
    <p>入库单编号：<input type="text" name="InStockBillCode"></p>
    <p>入库时间：<input type="text" name="InStockDate"></p>
    <p>操作员：<input type="text" name="Operator"></p>
    <p>物料：<input type="text" name="ItemId"></p>
    <p>数量：<input type="text" name="Amount"></p>
    <input type="submit" value="Submit">
</form>
</body>
</html>